html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100vh;
  background-color: green;
  font-size: 24px;
}

/* Sidebar */
.sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 1fr);
  background-color: red;
  grid-row: span 6;
}
.dashboard p {
  position: relative;
  display: inline-block;
  padding-left: 40px; /* Create space for the icon */
}
/* Icons */
.dashboard p::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 16%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-image: url("icons/view-dashboard.svg");
  background-size: cover;
}
.dash ul li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.home::before {
  background-image: url("icons/home.svg");
}
.profile::before {
  background-image: url(icons/account.svg);
}
.msg::before {
  background-image: url(icons/message.svg);
}
.history::before {
  background-image: url(icons/history.svg);
}
.tasks::before {
  background-image: url(icons/tasks.svg);
}
.community::before {
  background-image: url(icons/community.svg);
}
.settings::before {
  background-image: url(icons/settings.svg);
}
.support::before {
  background-image: url(icons/tasks.svg);
}
.privacy::before {
  background-image: url("icons/privacy.svg");
}

ul {
  list-style: none;
}
.dash {
  font-size: 1.3em;
  margin-left: 2rem;
  /* cursor: pointer; */
}
/* MENU */
.search {
  background-color: lightcoral;
}
.menu {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  background-color: blue;
  grid-area: 2/2/7/4;
}
.projects {
  display: grid;
  background-color: aqua;
  grid-row: 1 / 6;
  grid-template-rows: repeat(3, minmax(50px, 1fr));
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.info {
  grid-area: 1/2 /3 / 3;
  background-color: yellowgreen;
}
.trending {
  grid-row: 3/6;
  background-color: blueviolet;
}
.box {
  background-color: white;
  height: 200px;
  border-left: 5px solid green;
  margin: 30px 40px;
  background-position: center;
  background-size: cover;
}
.box p {
  text-align: center;
  color: white;
  font-size: 1.45rem;
  margin: 0;
}
.projects > .box:nth-child(-n + 2) {
  margin-top: 50px;
}
/* Project Photos */
.box1 {
  background-image: url(img/photo1.jpg);
}
.box2 {
  background-image: url(img/photo2.jpg);
}
.box3 {
  background-image: url(img/photo3.jpg);
}
.box4 {
  background-image: url(img/photo4.jpg);
}
.box5 {
  background-image: url(img/photo5.jpg);
}
.box6 {
  background-image: url(img/photo6.jpg);
}
.trending {
}
.people {
  display: flex;
  width: 100px;
  height: 73%;
  background-color: white;
}
