html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  height: 100%;
  overflow: hidden;
}
.container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: repeat(6, 1fr);
  width: 100%;
  height: 100vh;
  background-color: rgb(61, 61, 61);
  font-size: 1.35rem;
}
/* Sidebar */
.sidebar {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(5, 1fr);
  grid-row: span 6;
  background-color: #b9b4c7;
  color: white;
}
.dashboard p {
  position: relative;
  display: inline-block;
  text-align: center;
  padding-left: 40px;
  margin: 15px 45px;
  font-weight: bold;
  font-size: 2rem;
}
.dashboard p::before {
  content: "";
  position: absolute;
  left: -10%;
  top: 45%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  background-image: url("icons/view-dashboard.svg");
  background-size: cover;
}
.icon-container2 {
  grid-row: 5;
}
.dashboard-icon {
  margin-bottom: 0.5rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
}
.dash ul li::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
}
ul {
  list-style: none;
}
.home::before {
  background-image: url("icons/home.svg");
}
.profile::before {
  background-image: url(icons/account.svg);
}
.msg::before {
  background-image: url(icons/message.svg);
}
.history::before {
  background-image: url(icons/history.svg);
}
.tasks::before {
  background-image: url(icons/tasks.svg);
}
.community::before {
  background-image: url(icons/community.svg);
}
.settings::before {
  background-image: url(icons/settings.svg);
}
.support::before {
  background-image: url(icons/tasks.svg);
}
.privacy::before {
  background-image: url("icons/privacy.svg");
}
/* Header */
.header {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 70px 50px;
  overflow-x: auto;
  background-color: #5c5470;
}
.profile-picture {
  height: 45px;
  vertical-align: middle;
  border-radius: 50%;
}
.notification {
  margin: 10px 10% 0 auto;
  color: white;
  font-weight: bold;
}
.notification::before {
  display: inline-block;
  background-image: url(icons/notification.png);
  background-size: cover;
  content: "";
  vertical-align: middle;
  margin-right: 25px;
  width: 30px;
  height: 30px;
}
#search-bar {
  width: 75%;
  border-radius: 40px 40px;
  height: 35px;
  font-size: 30px;
}
.search label::before {
  background-image: url(icons/search.png);
  width: 60px;
  height: 65px;
  content: "";
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* middle */
.middle-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 60px 1fr;
  background-color: #352f44;
  grid-area: 2/2/7/4;
  color: #352f44;
}
.cards {
  display: grid;
  grid-row: 2 / 6;
  grid-template-rows: repeat(2, minmax(150px, 365px));
  grid-template-columns: repeat(3, minmax(300px, 33%));
  gap: 40px;
}
.card {
  margin: 7px;
  position: relative;
}
.centered {
  position: absolute;
  padding: 5px;
  background-color: rgba(107, 107, 100, 0.5);
  bottom: 0;
  left: 20%;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2rem;
}
/* Aside */
.info {
  display: grid;
  background-color: #faf0e6;
  margin: 10px;
  margin-bottom: 0;
}
.info p {
  font-size: 12px;
  margin: 0;
}
.info h3 {
  font-size: 18px;
  font-weight: 500;
}
hr {
  margin: 10px 0;
  height: 1px;
}
.info1,
.info2,
.info3 {
  margin: 2px;
  padding: 3px;
}
.trending {
  display: grid;
  grid-column: 1/2;
  grid-row: 3/6;
  grid-template-rows: 50px repeat(3, 1fr);
  gap: 2px;
  margin-bottom: 30px;
  margin: 10px;
}
.trending h3 {
  color: white;
  margin: 0;
  display: inline;
  margin-top: 10px;
}
.people {
  display: flex;
  align-items: center;
  margin: 2px;
  background-color: #faf0e6;
}
.buttons {
  display: flex;
  align-items: center;
  margin-left: 25%;
  grid-column: 2/2;
}
.buttons button {
  color: white;
  width: 120px;
  background-color: blue;
  padding: 10px;
  border-radius: 25px;
  margin-left: 15px;
}
.text,
.announcements {
  font-size: 3rem;
  text-align: center;
  color: white;
}
.welcome img {
  height: 70px;
  vertical-align: middle;
  border-radius: 50%;
}
.welcome {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.welcome-text {
  font-size: 1.4rem;
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.card img {
  width: 100%;
  max-height: 100%;
}
.people img {
  width: 60px;
  border-radius: 25px;
}
.people-text {
  margin: 15px;
}
